---
import type { MarkdownHeading } from 'astro';
import MoreMenu from '../RightSidebar/MoreMenu.astro';
import TableOfContents from '../RightSidebar/TableOfContents';
import ContributorsList from './explicit/ContributorsList';

type Props = {
	title: string;
	headings: MarkdownHeading[];
	githubEditUrl: string;
};

const { title, headings, githubEditUrl } = Astro.props;

const currentPage = Astro.url.pathname;

const currentUrl = currentPage.endsWith('/')
	? currentPage.slice(1, -1)
	: currentPage.slice(1);
---

<article id="article" class="content">
	<section class="main-section">
		<h1 class="content-title" id="overview">{title}</h1>
		<nav class="block sm:hidden">
			<TableOfContents client:media="(max-width: 50em)" headings={headings} />
		</nav>
		<slot />
		<ContributorsList currentUrl={currentUrl} showAtUrl="oasismenu/getting-started" />
	</section>
	<nav class="block sm:hidden">
		<MoreMenu editHref={githubEditUrl} />
	</nav>
</article>

<style>
	.content {
		padding: 0;
		max-width: 100ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.content > section {
		margin-bottom: 4rem;
	}

	.block {
		display: block;
	}

	@media (min-width: 50em) {
		.sm\:hidden {
			display: none;
		}
	}
</style>
<style is:global>
	.footnation {
		display: flex;
		width: 100%;
		margin-block: 2rem;
		flex-wrap: wrap;
	}

	.footnation a {
		display: flex;
		flex: 1;
		width: 100%;
		flex-wrap: nowrap;
		gap: 2rem;
		text-decoration: none;
		padding: 1.25rem 2rem;
		border-bottom: 3px solid transparent;
		font-size: inherit;
	}
	.footnation a.footprev {
		flex-direction: row;
		align-items: center;
	}
	.footnation a.footnext {
		flex-direction: row-reverse;
		align-items: center;
		margin-left: auto;
	}
	.footnation a:hover,
	.footnation a:focus {
		background-color: var(--theme-bg-accent);
		border-block-color: var(--theme-text-accent);
	}
	.footnation a .fas {
		font-size: 2em;
	}
	.footnation .footlabel {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 0.5rem;
	}
	.footnation .foottext {
		font-size: 1.5em;
		font-weight: 700;
	}
</style>