.oasismenu[data-theme="royal"] {
    --bg-popup: #69359c;
    --bg-item-hover: #8e6bc7;
    --bg-item-disabled: #462066;
    --bg-break: #581f8c;

    --border-popup: #462066;
    --shadow-popup: #69359c88;
    --scroll-popup: #e1e1e1;

    --color-item-primary: #FFF;
    --color-item-secondary: #e1e1e1;
    --color-item-tertiary: #c4c4c4;
    --color-item-disabled: #5c5c5c;
}